main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-container {
    width: 30%;
    height: fit-content;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.auth-container h2 {
    text-align: center;
    color: white;
}

.auth-container input {
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    display: block;
}

.auth-container input[type="text"], input[type="password"] {
    background-color: #fffe;
    outline: none;
    height: 30px;
    width: calc(100% - 30px);
    border: 3px solid gray;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.auth-container input[type="submit"] {
    border: 3px solid var(--primary);
    color: var(--primary);
    font-size: large;
    font-weight: bold;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
    width: 100px;
    height: 40px;
}

.auth-container input[type="submit"]:active {
    background-color: var(--primary);
    color: white;
    transition: all;
    transition-duration: 0.2s;
}

.auth-container input[type="text"]:focus, input[type="password"]:focus {
    border: 3px solid var(--primary);
}

.submit-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-row {
    display: flex;
}

@media (max-width: 768px) {
    .auth-container {
        width: 90%;
    }
}
