/* Index body */

main {
    margin: 10px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 60px;
    padding: 10px;
    border-radius: 10px;
}

.card .material-symbols-outlined {
    font-size: 50px;
    display: block;
    margin: 10px;
}
