/* Index body */

main {
    margin: 10px;
    height: 100vh;
    display: flex;
}

.card-content {
    width: 100%;
}

.red-blur {
    background-color: rgba(255, 0, 0, 0.65);
    backdrop-filter: blur(20px);
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    max-width: 600px;
    font-weight: bold;
    background-color: #fff1;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.checkbox {
    margin: 10px;
    user-select: none;
}

.card-text {
    padding: 10px 0 0 10px;
    font-size: larger;
}

.card-bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
}

.card-bottom-container .date {
    margin: 10px;
}

.bottom-buttons {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 3px;
    width: fit-content;
    border: 2px solid white;
    border-radius: 10px 0 10px 0;
    margin: 2px 0 0 0;
}

.bottom-buttons .material-symbols-outlined {
    font-size: 30px;
    display: block;
    cursor: pointer;
    transition: all;
    user-select: none;
    transition-duration: 0.2s;
}

.green-hover:hover {
    color: hsl(142, 60%, 55%);
}

.cyan-hover:hover {
    color: hsl(192, 60%, 55%);
}

.red-hover:hover {
    color: hsl(0, 59%, 55%);
}

.message-container {
    position: fixed;
    z-index: 20;
    top: 50px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    padding: 10px;
    min-width: fit-content;
    min-width: max-content;
    border-radius: 10px;
}

#main-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    height: fit-content;
}

.plus-card {
    width: 200px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.plus-card .card-content {
    width: fit-content;
}

.plus-card .card-content .material-symbols-outlined {
    font-size: 24px;
}
