/* Index body */

main {
    margin: 10px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 60px;
    padding: 10px;
    border-radius: 10px;
}

.card .material-symbols-outlined {
    font-size: 50px;
    display: block;
    margin: 10px;
}

.message-container {
    position: fixed;
    z-index: 20;
    top: 50px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    padding: 10px;
    min-width: fit-content;
    min-width: max-content;
    border-radius: 10px;
}
